<h1><%=t("productwatcher.heading.edit")%></h1>

<%= render "form", productwatcher: @productwatcher %>

<br>

<div>
  <%= link_to t("productwatcher.action.show"), @productwatcher %> |
  <%= link_to t("productwatcher.action.back"), productwatchers_path %>
</div>
