<p style="color: green"><%= notice %></p>

<h1>Productwatchers</h1>

<div id="productwatchers">
  <% @productwatchers.each do |productwatcher| %>
    <%= render productwatcher %>
    <p>
      <%= link_to "Show this productwatcher", productwatcher %>
    </p>
  <% end %>
</div>

<%= link_to "New productwatcher", new_productwatcher_path %>
