<h1><%=t("product.heading.edit")%></h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to t("product.action.show"), @product %> |
  <%= link_to t("product.action.back"), products_path %>
</div>
